@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

hr{
    border-color: black;
    border-style: dotted none none;
    border-width: 6px;
    width: 4%;
    margin: 100px auto;
  }

/* headings and logo */
h1, h2 {
    font-family: 'Sacramento', sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Presentation Image */

#code-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#code-image {
    height: 600px;
    width: 100%;
    background: url(../images/code-image.jpg) no-repeat center center;
}

/* Profile section */
/* .intro{
    width: 30%;
    margin: auto;
} */
#welcome {
    text-align:center;
    margin: 20px 0;
    font-size: 280%;
}

#profile {
    height: 400px;
    margin: 25px auto;
}

#profile p {
    text-align: center;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

#circle-container {
    width: 200px;
    height: 200px;
    padding: 0px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/profile-image.jpeg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* Footer */
footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {

}

/* For medium screen sizrs from 950px wide and down */
@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }
  }

/* For small screen sizes 800px and down */
@media screen and (max-width: 800px) {

}