@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* hr style*/
hr{
    border-color: black;
    border-style: dotted none none;
    border-width: 6px;
    width: 4%;
    margin: 100px auto;
  }

/* headings and logo */
h1, h2 {
    font-family: 'Sacramento', sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
    color: #252525;
}

h3 {
    padding-top: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: #3a3a3a;
    text-decoration: underline;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Presentation Image */

#code-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#code-image {
    height: 600px;
    width: 100%;
    background: url(../images/code-image.jpg) no-repeat center center;
}

/* Profile section */

.welcome {
    text-align:center;
    margin: 20px 0;
    font-size: 280%;
}

#profile {
    height: 400px;
    margin: 25px auto;
}

#profile p {
    text-align: center;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

#circle-container {
    width: 200px;
    height: 200px;
    padding: 0px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/profile-image.jpeg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* Skills Section */
.skill-row-left{
    height: 200px;
    width: 33%;
    margin: 5px auto;
    text-align: left;
}

.skill-row-right{
    height: 200px;
    width: 33%;
    margin: 5px auto;
    text-align: right;
}
    
    
#skill-img1{
    margin-right: 15px;
    width: 200px;
    height: 200px;
    float: left;
    background: url('../images/computer.png') no-repeat center center;
    border-radius: 50%;
}
    
#skill-img2{
    margin-left: 15px;
    width: 200px;
    height: 200px;
    float: right;
    background: url('../images/game-controller.png') no-repeat center center;
    border-radius: 500%;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
}

/* Contact-me Section */
#contact-me {
    text-align: center;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
  }
  .btn {
      background:linear-gradient(to bottom, #11cdd4 5%, #11999e 100%);
      background-color:#11cdd4;
      border-radius:10px;
      border:1px solid #11cdd4;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:20px;
      padding:16px 31px;
      text-decoration:none;
      text-shadow:0 1px 0 #11999e;
  }
  .btn:hover {
      background:linear-gradient(to bottom, #11999e 5%, #11cdd4 100%);
      background-color:#11999e;
  }

/* Footer */
footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Projects.html */
#projects {
    clear: both;
    background-color: rgba(60, 60, 60, 0.6);
    background-size: cover;
    background-position: center;
}

#projects > h3 {
    text-align: center;
}

#project-img1 {
    margin-right: 15px;
    width: 200px;
    height: 200px;
    float: left;
    background: url('../images/nutrigenda.png') no-repeat center center;
    border-radius: 15%;
}

/* Form */

.form-section {
    clear: left;
    background-color: rgba(60, 60, 60, 0.6);
    /* background: url("https://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/formbg.jpg"); */
    background-size: cover;
    background-position: center;
    height: 600px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    max-width: 400px;
    margin: 50px auto;
    /* position: absolute;
    left: 10%;*/
    padding: 30px;
}

.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.textarea-input {
    background: transparent;
    color: #fafafa;
    max-width: 100%;
    max-height: 100px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover, textarea:hover {
    border-color: #11cdd4;
}

.join-button {
    /* margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block; */
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {

}

/* For medium screen sizrs from 950px wide and down */
@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }
  }

/* For small screen sizes 800px and down */
@media screen and (max-width: 800px) {

}